awscli==1.35.5
botocore==1.35.39
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
docutils==0.16
filelock==3.16.1
fsspec==2024.9.0
huggingface-hub==0.25.2
idna==3.10
inquirerpy==0.3.4
jmespath==1.0.1
packaging==24.1
pfzy==0.3.4
prompt_toolkit==3.0.48
pyasn1==0.6.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rsa==4.7.2
s3transfer==0.10.3
six==1.16.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
